@import '../../../scss/partials/variables';
@import '../../../scss/partials/mixins';

  #container{
    @include flex(column, space-around);
    height: 700px;
    width: 350px;
  }
    #img{
      @include flex(row, center);
      img{
        width: 50%;
      }
    }
    #title{
      @include text(3.4rem, 800)
    }
    #button{
      @include button;
    }
