#container{
    padding: 20px;
    background-color: $black;
    border-radius: 20px;
    #textDisplay{
        background-color: $yellow;
        padding: 8px;
        margin: 10px 0;
        text-align: right;
        border-radius: 5px;
        color: $black;
        height: 80px;
        font-size: 30px;
    }

}