@import 'variables';

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    color: $orange;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: $blue;
}

button{
    border-radius: 20px;
    background-color: $red;
    padding: $m;
}