// ********** COLORS ************

$black: #0e061b;
$blue: #2f5560;
$yellow:#fff3b0;
$orange:#e09f3e;
$red:#9e2a2cde;

// ********** SIZES ************

$s: 10px;
$m: 20px;
$l: 50px;

$border-100: 100%;

